* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #3d3d3e;
}
a {
	text-decoration: none;
}
body {
  overflow: visible !important;
  background: -webkit-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
  background: -moz-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
  background: -ms-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
  background: -o-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
  background: linear-gradient(45deg, #085078 10%, #85d8ce 90%);
 }
#body {
	margin-top: 60px;
}

.clearfix::after {
	content:"";
	display:block;
	clear:both;
}

<<<<<<< HEAD

body {
  overflow: visible !important;
  background: -webkit-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
  background: -moz-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
  background: -ms-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
  background: -o-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
  background: linear-gradient(45deg, #085078 10%, #85d8ce 90%);
 }
=======
header a {
  font-size: 14px;
}
.header-color {
	background-color: #3d3d3e;
}
.nav {
	color: #fafafa;
	padding-top: 5px;
}
.search-bar {
  padding-top: 50px;
  background-color: silver;
  border-radius: 0px;
}
#search-icon {
  float: left;
  padding-top: 9px;
  font-size: 22px;
}
#itemsearch {
  float: left;
  padding-top: 12px;
}
#sidebar {
  background-color: blue;
  height: 500px;
}
#search-result{
  /*background-color: green;*/
  height: 500px;

}
.search-item {
  width: 100px;
  height: 120px;
  margin: 10px;
  float: left;
  background-color: #8fbc8f;
}
.search-item-image {
  width: 100px;
  height: 100px;
  background-color: #fafafa;
}
footer {
  text-align: center;
  padding: 10px;
  background: #3d3d3e;
  margin-top: 20px;
}
footer a {
  color: #fafafa;
}
>>>>>>> origin/master
