* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}
a {
	text-decoration: none;
}
body {
  overflow: visible !important;
  background: -webkit-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
  background: -moz-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
  background: -ms-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
  background: -o-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
  background: linear-gradient(45deg, #085078 10%, #85d8ce 90%);
 }
.clearfix::after {
	content:"";
	display:block;
	clear:both;
}

body {
	min-width: 1000px;
	margin: auto;
	position: relative;
	color: #2d2d2d;
	font-size: 13px;
	line-height: 1.6;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Lucida Grande", Verdana, "ＭＳ Ｐゴシック", sans-serif
}

#body {
	width: 980px;
	margin: 0 auto 0;
	position: relative;
}

ol, ul {
	list-style: none;
}

.contents {
    max-width: 990px;
    margin: 0 auto;
}
.leftcontent,
#rightcontent {
    padding-left: 0;
    padding-right: 0;
}
.leftcontent {
	position: relative;
    float: left;
    width: 200px;
    padding: 19px 19px;

}
.leftcontent h2 {
	font-size: 18px;
	position: relative;
	color: #3d3d3e;
}
.lists {
	margin: 17px 0 0 ;
	padding: 0;
	border-top: #3d3d3e 1px solid;
}
.lists li {
	margin-top: 17px;
	padding: 0 0 17px 10px;
	line-height: 1.4;
	border-bottom: #3d3d3e 1px solid;
}
.lists li a {
	color: #3d3d3e;
}
#rightcontent {
    float: right;
    width: 760px;
}
#productlist {
	margin: 10PX 0 0;
}
#product {
	width: 100%;
	border-top: 1px solid #ededed;
}
#productlistblock {
	padding: 0 0 25px;
}
#productlists {
	margin: 0 0 0 -35px;
}
#productlists li {
	float: left;
	width: 125px;
	margin: 0 0 0 34px;
	height: 263px;
}
.listinner {
	font-size: 10px;
}
.thumb {
	text-align: left;
	padding: 12px 0 0 0;
}
.thumb a {
	width: 125px;
	height: 150px;
	display: inline-block;
}
.thumb a img {
	width: 125px;
	height: 150px;
	display: block;
}
.listinner div {
	margin: 6px 0 0;
	line-height: 1.5;
}
.musicname {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 12px;
	width: 102px;
}
.price {
	margin: 4px 0 0 0;
	font-size: 15px;
	line-height: 1.1;
}

.header-color {
	background-color: #3d3d3e;
}
.logo {
  width: 120px;
  height: 45px;
}
.nav {
	color: #fafafa;
	padding-top: 5px;
}

.search {
	width: 400px;
	padding-bottom: 10px;
}
footer {
  text-align: center;
  padding: 10px;
  background: #3d3d3e;
  margin-top: 20px;
}
footer a {
  color: #fafafa;
}
