.site-header {
	background-color: #3d3d3e;
	border: 0px;
	border-radius: 0px;
}
.nav {
	color: #fafafa;
	padding-top: 5px;
}
.search {
	width: 400px;
	padding-bottom: 10px;
}
ul {
	list-style: none
}
.genre {
	background-color: #f5f5f5;
	border: 1px solid #ddd;
	border-radius: 3px;
}
.genre ul {
	margin: 30px 0;
}
.genre li {
	background-color: #f5f5f5;
}
.product-box {
	margin: 30px;
}
.product p {
    margin: 0;
}
.product img {
    margin-bottom: 10px;
}
.product a {
    margin-bottom: 10px;
}
.product nav {
	text-align: center;
}
.heading-text {
	padding-left: 20px;
}
footer {
  text-align: center;
  padding: 10px;
  background: #3d3d3e;
  margin-top: 20px;
}
footer a {
  color: #fafafa;
}
