.site-header {
	background-color: #3d3d3e;
	border: 0px;
	border-radius: 0px;
}
.nav {
	color: #fafafa;
	padding-top: 5px;
}
.search {
	width: 400px;
	padding-bottom: 10px;
}
.user-list nav {
	text-align: center;
}
footer {
  text-align: center;
  padding: 10px;
  background: #3d3d3e;
  margin-top: 20px;
}
footer a {
  color: #fafafa;
}